@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root{
  --primary-white: #ffff;
  --primary-cyan: #bcece0;
  --primary-dark: rgba(255,255,255,0);
  --primary-orange: #4c5270; 
  --primary-blue: #059dc0;
  --primary-red: #ce1212;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
/*******************************NAVBAR************************************/
nav{
  z-index: 2;
}

.logo {
  width: 4.072rem;
}

/******************************Menu links******************************/
nav a.nav-link {
  /*font-weight: 500;*/
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-orange) !important;
  border-bottom: 0.125rem solid var (--primary-dark);
  border-bottom: 0.125rem solid var (--primary-dark); 
}

.navbar-brand{
  max-width: 15rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.125rem solid var(--primary-blue);
  border-bottom: 0.125rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.125rem solid var(--primary-blue);
  border-bottom: 0.125rem solid var(--primary-blue);
}

/****************************** HeaderYukk *****************************/

.header-wraper{
  position:relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 150vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;

}

.main-info h1 {
  color: var(--primary-cyan);
}

.typed-text{
  font-size: 1rem;
  color: var(--primary-blue);
}

.btn-main-offer {
  border: 3px var(--primary-orange);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-cyan);
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}